# actions.csv

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv(r'C:\laba-python\victory\filtered_data_pq\actions.csv', engine='pyarrow')
df.head(10)

   action_code    action_name
0            0           view
1            1           like
2            2           addB
3            3           delB
4            4         clearB
5            5          order
6            6          listB
7            7          visit
8            8  visitCategory
9            9         search

# data.pq

In [5]:
catalog = pd.read_parquet(r'C:\laba-python\victory\filtered_data_pq\data.pq', engine='pyarrow')
catalog.head(-5)

,loc_user_id,action,purchased_items,day,time
0,b29d3f97-1a02-4e3a-990b-2296935a5479,0,[921892],2024-09-07,00:00:16
1,95badd96-2133-408c-acbf-23acbf3ec808,0,[6344224],2024-09-07,00:01:19
2,95badd96-2133-408c-acbf-23acbf3ec808,0,[6344227],2024-09-07,00:01:33
3,95badd96-2133-408c-acbf-23acbf3ec808,0,[6344221],2024-09-07,00:01:35
4,95badd96-2133-408c-acbf-23acbf3ec808,0,[6344218],2024-09-07,00:01:39
...,...,...,...,...,...
1152221,d2e9c217-aaae-4921-9cae-b79839ed2ef7,1,[6167461],2024-09-28,23:59:26
1152222,1b1c72e6-8841-486e-bfdb-db2647ccfcc2,0,[6389818],2024-09-28,23:59:28
1152223,56498eb8-725d-4c2e-83d8-9b1748e5c2d2,0,[5892955],2024-09-28,23:59:32
1152224,9984a2a2-a611-4e5c-a5ef-6b89e3247875,0,[5392213],2024-09-28,23:59:35
1152225,1b1c72e6-8841-486e-bfdb-db2647ccfcc2,0,[6376045],2024-09-28,23:59:38

# catalog.pq

In [6]:
catalog = pd.read_parquet(r'C:\laba-python\victory\filtered_data_pq\catalog.pq', engine='pyarrow')
catalog.head(-5)

       product_id  category_id    price
0         1025536         8922   6990.0
1         1025614        10600    330.0
2         1025656          231  13240.0
3         1025659        14546   7550.0
4         1025668         1949   1290.0
...           ...          ...      ...
107089    1516589            0   4190.0
107090    7233534            0   4190.0
107091    1577588            0   4190.0
107092    7181874            0   4190.0
107093     822171            0   4190.0

[107094 rows x 3 columns]

# определение уникальных значений

In [10]:
import pandas as pd

# Укажите путь к вашему файлу
file_path = r'C:\laba-python\victory\filtered_data_pq\catalog.pq'

# Считайте данные из файла Parquet
df = pd.read_parquet(file_path)

# Получите уникальные loc_user_id
unique_loc_user_ids = df['category_id'].nunique()

# Выведите количество уникальных loc_user_id
print(f'Количество уникальных: {unique_loc_user_ids}')

Количество уникальных: 1298

# определение типов данных

In [ ]:
import pandas as pd
import numpy as np

# Укажите путь к вашему файлу
file_path = r'C:\laba-python\victory\filtered_data_pq\catalog.pq'

# Чтение файла Parquet
df = pd.read_parquet(file_path)

# Выводим точные типы данных в каждом столбце
for column in df.columns:
    # Проверяем если dtype это object
    if df[column].dtype == 'object':
        # Применяем type к каждому элементу в столбце
        unique_types = df[column].apply(lambda x: type(x) if isinstance(x, (list, np.ndarray)) else type(x)).unique()
        print(f"Column: {column}, Unique types: {unique_types}")
    else:
        print(f"Column: {column}, Numpy type: {df[column].dtype}")